{% load static %}
<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Portal</title>
  <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
  <nav class="navbar">
    <div class="logo">
      <!-- Example Photo / Logo -->
      <img src='logo.jpg' alt="Portal Logo">
      <span>Student Portal</span>
    </div>

    <ul class="nav-links">
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Grades</a></li>
      <li><a href="#">Assignments</a></li>
      <li><a href="{% url 'signup' %}">Signup</a></li>
    </ul>
  </nav>
  {% block content %}
  {% endblock  %}
</body>
</html>
